*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #f9faf8;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h2 {
  font-size: 36px;
}

img {
  display: block;
  max-width: 100%;
}

section {
  max-width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  gap: 20px;
}

header > img {
  width: 10rem;
}

nav > ul {
  display: flex;
  gap: 1rem;
}

nav a {
  font-size: 18px;
  color: #171717;
}

nav a:hover {
  border-bottom: 1px solid #083344;
}

.hero-wrapper {
  background-color: #171717;
}

.hero {
  display: grid;
  row-gap: 50px;
  column-gap: 80px;
  grid-template-columns: 1.7fr 1fr;
  grid-template-areas:
    ".             hero-img"
    "hero-title    hero-img"
    "hero-subtitle hero-img"
    "hero-button   hero-img"
    ".             hero-img";
  justify-items: start;
  padding: 10px;
}

.hero > h1 {
  grid-area: hero-title;
  font-size: 48px;
  font-weight: 800;
  line-height: 1.3;
  color: #f9faf8;
}

.hero > p {
  grid-area: hero-subtitle;
  font-size: 18px;
  color: #e5e7eb;
}

.hero > a {
  grid-area: hero-button;
}

.hero > a,
.call-to-action > a {
  font-size: 24px;
  background-color: #f9faf8;
  border-radius: 5px;
  padding: 15px 25px;
  color: #171717;
  transition: background-color 0.2s, color 0.2s;
}

.hero > a:hover,
.call-to-action > a:hover {
  background-color: #a8a29e;
}

.hero > img {
  grid-area: hero-img;
  border-radius: 5px;
  align-self: center;
}

.features {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  color: #171717;
}

.features ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
}

.features-card img {
  width: 30%;
}

.features-card h3 {
  font-size: 24px;
}

.features-card p {
  flex: 1;
}

.testimonial-wrapper {
  background-color: #d4d4d4;
  margin-top: 50px;
}

.testimonial {
  max-width: 800px;
  padding: 80px;
}

blockquote {
  font-style: italic;
  margin-bottom: 20px;
}

figcaption {
  font-weight: 800;
}

.call-to-action {
  margin-top: 50px;
  background-color: #171717;
  color: #f9faf8;
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

footer {
  margin-top: 50px;
  text-align: center;
  padding: 10px;
  background-color: #d4d4d4;
}
